/*
 Description:    WSU University Communications global template file
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Version:        0.0.1
 */

/*
Title: Site header, page titles, and tag structures
Description: Structuring of header, page titles, and tag lines to accomodate the University Communications theme.
*/

/* .acBanner is the accent bar that stretches across the template */
.acBanner {
	width:100%;
	height: 30px;
	background: rgb(198,12,48);
	background: -moz-linear-gradient(45deg,  rgba(198,12,48,1) 0%, rgba(152,30,50,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(198,12,48,1)), color-stop(100%,rgba(152,30,50,1)));
	background: -webkit-linear-gradient(45deg,  rgba(198,12,48,1) 0%,rgba(152,30,50,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(198,12,48,1) 0%,rgba(152,30,50,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(198,12,48,1) 0%,rgba(152,30,50,1) 100%);
	background: linear-gradient(45deg,  rgba(198,12,48,1) 0%,rgba(152,30,50,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60c30', endColorstr='#981e32',GradientType=1 );
}
/* Adjusting the header area so that University Communications is below the logo on the Spine, flush left, removes tagline, and removes page title */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-image:url('../images/elements/bg.png');
	background-attachment: fixed;
}
main {
	background-color:#F4F5F5;
	color: #464e54;
	letter-spacing:0px;
}
/**
	Defining fonts
**/
.site > a:nth-child(1) {
	font-family: "OpenSans-CondLight";
}
main ul li:before, a[href$=".pdf"]:after, blockquote:before, main hr:after, main address:before, main .mainAccordion .ui-icon {
	font-family: "SSPika";
}
.article-header h1, .lead, main footer, main figcaption  {
	font-family: Palatino, "Palatino Linotype", Baskerville, "Century Schoolbook L", "Times New Roman", serif;
}
/** 
	End defining fonts
**/
main .ucomm-bookmark  {
	margin-bottom:0em;
	display: block;
	position: relative;
	top: 20px;
	left: 75%;
	border: 0px;
	margin-top:0;
}
main .ucomm-bookmark .section {
	display:none;
}
.size-lt-medium main > header.ucomm-bookmark {
	left:3.5em;
}
.size-lt-medium main > header.ucomm-bookmark hgroup {
	left: 3.5em;
}
/* Hiding the tagline from the hgroup */
main .ucomm-bookmark .tagline {
	display:none;
}
/* Hiding the page name from the hgroup to prevent double page names */
main .ucomm-bookmark .page {
	display:none;
}
/* Adds Communications in Gray */
main .site .addGray {
	color: #5E6A71;
}
/*
Title: Typography
Description: Styling of University Communications typography for p, h1, h2, h3, h4, h5, titles, and related entities.
*/
.site > a:nth-child(1) {
	font-size:1.8em;
	line-height: 100%;
	color: #981E32;
	background-color:transparent;
	border-bottom:none;
}
.article-header {
	display:block;
	vertical-align: text-bottom;
	height:40px;
	padding-top:3.4em;
	margin-bottom:3em;
	border-style:solid;
	border-color:#464e54;
	border-width:0px 0px 1px 0px;
	padding-bottom: 4em;
	position:relative;
}
.article-header h1  {
	font-size: 3em;
	font-style: italic;
	text-transform: none;
	letter-spacing: 1px;

}
/*
Title: Standard HTML DOM elements
Description: Headers, paragraphs, lists, and HTML 5 tags
*/
main h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	text-transform: lowercase;
	letter-spacing: 0;
}
main h1 {
	color:#262b2e;
}
/* Adjusting the margin on the h2 to pull the h2 further */
main h2 {
	font-size:2em;
	margin-top: .475em;
	margin-bottom: .475em !important;
	color:#262b2e;
}
/* Adjusting the margin on the h2 to pull the h3 further */
main h3 {
	margin-top:1em;
	margin-bottom:.2em;
	font-size:1.6em;
}
/* Adjusting the margin on the h2 to pull the h3 further */
main h4 {
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: .675em;
}
/* h5 is a supplimentary header using WSU accent blue http://brand.wsu.edu/visual/colors/ */
main h5 {
	color: #4f868E;
}
main h6 {
}
main article header .center {
	padding-bottom:1.4em;
}
main .ftt {
	text-transform: none;
	font-weight:lighter;
}
main header .inline {
	float:left;
	margin-top:.4em;
	margin-right:.4em;
	margin-bottom:0;
	padding:0px;
	font-size:1em;
	font-weight:600;
}
main p {
	font-size:1.1em;
	line-height: 1.65em;
	margin-bottom:1.8em;
}
main p+p {
	margin-top:-1em;
}
/* Styling of the paragraphs that follow h5 to match the h5 tag */
main h5 + p {
	font-size: .875em;
	line-height: 1.875em;
	color: #4f868E;
}
/* Styling of the paragraphs that follow h6 to match the h5 tag */
main h6 + p {
	font-size: .875em;
	line-height: 1.875em;
	color: #000;
}
/* Styling of the paragraphs that follow the main header to introduce the page and page summary */
.lead {
	font-size: 1.6em;
	line-height: 1.6em;
	letter-spacing: 0;
}
/* Defining Pika margin */
.ss-icon {
	color:inherit;
}
/* Add Pika for every PDF */
a[href$=".pdf"]:after {
	content:' \EC34 ';
	margin-left:.275em;
	vertical-align: middle;
}
/* Styling of ordered lists and un-ordered lists */
main ul, main ol {
	line-height: 1.4em;
	margin-bottom:2em;
	margin-left:.885em;
}
main ul li ul {
	padding-left:1.4em;
	margin-bottom:0;
	padding-bottom:0;
}
main ol li ol {
	padding-top:1em;
	padding-left:1.4em;
	margin-bottom:0;
	padding-bottom:0;
}
main ul li ul li:before {
	content: none;
}
main ul li ul li {
	list-style: disc;
}
main h2 + ul {
	padding-top:1em;
}
main h3 + ol {
	margin-top:2em;
}
main h3 + ul {
	margin-top:1em;
}
main p + ul {
	margin-top:-1.2em;
	width:70%;
}
main p + ol {
	margin-top:-1em;
	width:70%;
}
main figure + h1, main figure + h2, main figure + h3, main figure + h4, main figure + h5, main figure + p {
	margin-top:2em;
}
main ul li {
	text-align: -webkit-match-parent;
	list-style-type: disc;
	position:relative;
	padding:.125em;
	margin-bottom:4px;
}
main ol li {
	text-align: -webkit-match-parent;
	margin-top:0;
	padding:.125em;
	margin-bottom:5px;
}
.addcrimson {
	color:#981e32;
}
/* 
	Styling of linked elements 
*/
main a {
	border-bottom:1px solid #4F868E;
	color: #4F868E;
	white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
main a:hover {
	border-bottom:1px solid #193838;
	background-color:#d3e1e3;
	color: #193838;
	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;
	transition: background-color 0.5s linear;
}
main a img {
	border-bottom:none;
}
/*
Title: Blockquotes & Citations
Description: Styling of block quotes & citations 
*/
blockquote {
	letter-spacing: 0;
	display:block;
	position:relative;
	font-size: 1.2em;
	line-height: 1.5em;
	letter-spacing: -1px;
}
blockquote:before {
	font-size: 1.6em;
	color: #d38235;
	content: '\201C';
	margin-right: 0.60em;
	vertical-align: 0em;
	display:inline-block;
	-moz-transform: scaleX(-1); /* Gecko */
	-o-transform: scaleX(-1); /* Operah */
	-webkit-transform: scaleX(-1); /* webkit */
	transform: scaleX(-1); /* standard */
	filter: FlipH; /* IE 6/7/8 */
}
blockquote p {
	color:#464e54;
	display: inline;
}
blockquote cite {
	font-style: italic;
	width:100%;
	color: #5E6A71;
	font-size: .775em;
	line-height:1.1em;
}
blockquote  cite:before {
	content: "— ";
}
.bqsmall {
	width:25%;
	font-size:105%;
	padding:1em;
}
.bqsmall cite {
	font-size:90%;
	padding-top:.5em;
}
.bqmd {
	width:45%;
}
main sup {
	font-size: 95%;
}
main .page aside {
	background-image:url('../images/elements/bg-fourty.png');
	background-attachment: fixed;
	background-color: #eddccc;
	padding:2em;
	border-style:solid;
	border-color:#ddbea1;
	border-width:2px 2px 2px 2px;
	text-shadow:0px 1px 1px #f5f5f5;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5em;
	margin:1em;
}
main aside ul {
	margin-bottom:0;
}
/* styles applied only to structure and framework */
.padleft {
	padding-left:1em;
	padding-right:0;
}
.padright {
	padding-right:1em;
	padding-left:0;
}
.page-template-templatesucblank-php .halves {
	width:791px;
}
.page-template-templatesucblank-php .size-lt-medium .nested {
	width:100%;
}
main .related article {
	padding-bottom:0;
}
main .related + section article {
	margin-top:-1em;
	padding-top:0;
}
/* styles applied to tables */
.table {
	font-size: 90%;
	width:100%;
	margin-top:12px;
	margin-bottom:12px;
}
.table caption, .tablepress-table-name {
	font-size: 1.5em;
	padding-top:1em;
	padding-bottom:1em;
}
.tablepress-table-name {
	text-transform: none;
	color:#464e54;
	text-align: center;
	font-size: 1.4em;
}
.table th {
	font-weight: 700;
	text-align: center;
	padding-bottom:1em;
	font-size:1.1em;
	vertical-align: middle;
	background-color: #D7DADB !important;
}
.table tr td, .table th {
	padding:.3em;
}
.table tr:hover, .table-striped tr:nth-child(even):hover {
	background-color:#f9f4e7;
}
.table td:hover {
	background-color:#f1e4c4;
}
.bordered tr td {
	border:1px solid #eff0f1;
}
.bordered tr:nth-child(even) td{
	border-right:1px solid #f9f9f9;
}
.bordered tr:nth-child(even) td:last-child {
	border-right:1px solid #eff0f1;
}
.table-striped th {
	background-color:#d7dadb;
}
.table-striped tr:nth-child(even){
	background-color:#eff0f1;
}
/* Styles applied to footers and rule lines */
main address {
	padding-top:1em;
	padding-bottom:1em;
	padding-left:1em;
	display: block;
	position:relative;
	padding-left:4em;
	width:40%;
}
main address:before {
	color:#ddbea1;
	content:'\E6D0';
	display:block;
	font-size: 1.3em;
	margin-left:-1.6em;
	padding-top:5px;
	margin-top:0;
	float: left;
	position: absolute;
}
main address + p  {
	margin-top:1em;
}
main address + header {
	margin-top:1em;
}
/* Page footer element styles */
main footer {
	padding-top:2em;
	padding-bottom:2em;
	color:#464e54;
	font-size: 1.1em;
	line-height: 1.5em;
}
main footer a {
	text-decoration: underline;
	color: #4F868E;
}
main footer a:hover {
	color: #193838;
}
main hr {
	border:0;
	line-height: 20px;
	margin-top:4em;
	margin-bottom:4em;
}
main hr, main hr:before {
	background-color:#464e54;
	height:1px;
}
main hr:before {
	content: '';
	display: block;
	background-color:#464e54;
}
main hr:after {
	content: '\E202';
	color:#464e54;
	display:block;
	text-align:center;
	background-color:#F4F5F5;
	width:60px;
	margin-top:-10px;
	position:absolute;
	left:50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);  
}
.seperated {
	border-top: solid 1px #d7dadb; 
	padding-top: 8px;
}
main figure img {

}
main figure figcaption {
	text-align: center;
	font-size: 1em;
	font-style: italic;
}
main figure {
	border-bottom:solid 1px #d7dadb;
}
main .nested-halves {
	width:100%;
	display: inline-block;
	text-align: top;
	clear: both;
	padding-top:0;
	margin-top:0;
}
main .nested-one {
	display: block;
	width:49%;
	float:left;
	padding-right:1%;
}
main .nested-two {
	display: block;
	width:49%;
	float:left;
	padding-left:1%;
}
@media (max-width: 791px) { 
	main .nested-one {
		display: block;
		width:100%;
		clear:both;
	}
	main .nested-two {
		display: block;
		width:100%;
		clear:both;
	}
}
/*
Title: Components added to the UComm template such as spotlight section, library of work, featured frames
Description: Expanding on the Spine template with custom components and sections
*/
.spotlight {
	overflow: hidden;
	padding-top:1em;
	padding-bottom:1em;
	margin-top:1em;
	height:100%;
	background: rgb(245,245,245);
	background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(227,223,205,1) 50%, rgba(245,245,245,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,245,245,1)), color-stop(50%,rgba(227,223,205,1)), color-stop(100%,rgba(245,245,245,1)));
	background: -webkit-linear-gradient(left,  rgba(245,245,245,1) 0%,rgba(227,223,205,1) 50%,rgba(245,245,245,1) 100%);
	background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(227,223,205,1) 50%, rgba(245,245,245,1) 100%);
	background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(227,223,205,1) 50%, rgba(245,245,245,1) 100%);
	background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(227,223,205,1) 50%, rgba(245,245,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=1 );
}
.spotlightbg {
	display: block;
	position: absolute;
	top: 75px;
	left: 25px;
	bottom: 0;
	right: 0;
	font-size: 12em;
	color:#E3DFCD;
	opacity: 0.4;
}
/* Create the Featured content frame */
.featuredList {
}
/* Create the main accordions */
main .mainAccordion {
	margin-top:1em;
	margin-bottom:1em;
}
main .mainAccordion .ui-accordion-header {
	border-bottom:1px solid #f5f5f5;
	cursor: pointer;
}
main .mainAccordion .ui-accordion-header-active {
	background-color:#f5f5f5 !important; 
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    color: #464e54 !important;
  }
main .mainAccordion .ui-state-default {
	background-color:#d3e1e3;
	color: #4F868E;
}
main .mainAccordion h3 {
	margin:0;
	padding-left:.5em;
	font-size: 1.2em;
}
main .mainAccordion .ui-accordion-header-icon {
	width:25px;
	height:25px;
	margin-right:.3em;
	display: inline-block;
	font-size: .6em;
}
main .mainAccordion .ui-state-active .ui-icon:before {
	content:'\2B07';
}
main .mainAccordion .ui-icon:before {
	content:'\27A1';
}
main .mainAccordion .ui-accordion-header:hover, main .mainAccordion .ui-state-active .ui-icon:before  {
	color: #193838;
}
main .mainAccordion .ui-accordion-content {
	border-style:solid;
	border-color:#d7dadb;
	border-width:1px 0px 0px 0px;
	padding-top:1em;
	padding-bottom:1em;
}
main .mainAccordion .ui-accordion-content ul {
	margin-bottom:0;
}
/*
	Affixed and affixed sidebar
*/
/* 
	Add fixme as a class to any item you want the scroll fixed effect on
.fixme {}
*/
.fixed {
	position: fixed; 
	top: 0;
	margin-top:0;
	z-index: 1;
}
#fixedSide {
	margin-top:9em;
}
#fixedSide .fixed {
	width:320px;
}
#fixedSide h6 {
	margin-bottom:1em;
}
#fixedSide ol li ol, #fixedSide ul li ul {
	padding-bottom:0;
}
#fixedSide ol li, #fixedSide ul li {
	font-size: 88%;
	line-height: 1.4em;
	margin-bottom:4px;
	padding-bottom: 0;
}
#fixedSide ol li ol, #fixedSide ul li ul {
	margin-left:0;
	padding-bottom:.2em;
}
#fixedSide ol li ol li, #fixedSide ul li ul li {
	font-size: inherit;
	margin-bottom:4px;
	padding-bottom: 0;
	line-height: 1.3em;

}
/*
	Call to actions
*/
.call {
	font-size: 1.4em;
	background-color: rgba(152, 30, 50,1);
	color:#f5f5f5;
	text-transform: uppercase;
	padding-top:20px;
	padding-bottom:20px;
	border:none;
	padding:1em;
	display:inline-block;
}
.call .ss-icon {
	font-size: 1.2em;
	vertical-align: middle;
}
.call:hover {
	background-color: #c60c30;
	color:#f5f5f5;
	border:none;
}
.fixed .call {
	top: 0;
}
.callbox {
	text-align: center;
	padding-top:5em;
	padding-bottom:4em;
}
.two .call {
	font-size: 90%;
}
/*
Title: Blog Posts styles
Description: Create stylistic elements for blog post pages
*/

main .blog-meta {
	font-size: 87%;
	padding-left:.5em;
}

/* Hiding the category name from the hgroup */ 
main > .ucomm-bookmark .category, .comments {
	display:none !important;
}
/* Changes the header style on posts only */
.single-post .article-header {
	width:100%;
	padding-top:5em;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	border-style: none;
}
.single-post .ucomm-bookmark .post {
	display:none;
}

/* Add to section to create a feautred header image */
.single-post .article-body .libHeader {
	margin-top:8em;
	margin-bottom:8em;
	text-align: center;
} 
/* Removes background image placed by featured image */
.single-post main {
	background-image:none;
}