/*
 Description:    WSU University Communications post page targeting file
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Version:        0.0.1
 */
/** 
HOMEPAGE / Marketing experts helping you unleash the power of the wsu brand background-image:url('../images/elements/bg.png');
**/
.home .sky {
	background: rgb(221,190,161);
	background: -moz-linear-gradient(45deg,  rgba(221,190,161,1) 0%, rgba(215,178,88,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(221,190,161,1)), color-stop(100%,rgba(215,178,88,1)));
	background: -webkit-linear-gradient(45deg,  rgba(221,190,161,1) 0%,rgba(215,178,88,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(221,190,161,1) 0%,rgba(215,178,88,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(221,190,161,1) 0%,rgba(215,178,88,1) 100%);
	background: linear-gradient(45deg,  rgba(221,190,161,1) 0%,rgba(215,178,88,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddbea1', endColorstr='#d7b258',GradientType=1 );
	border-style: solid;
	border-width: 0 0 25px 0;
	border-color: rgba(237, 220, 204,0.3);
	overflow: hidden;
	padding: 0;
	display:block;
}
@media (min-width: 991px) { 
	.home .sky .rebound .column {
		width:991px;
	} 
}
.home .sky h1 {
	text-align: center;
	font-size: 400%;
	line-height: 1.3em;
	font-style: normal;
	text-transform: none;
	color:white;
	font-family: "OpenSans-CondLight";
	letter-spacing: -1px;
	padding-top:.2em;
}
.home .lead {
	display: block;
	margin:2em 2em 0 2em;
}
.home .callbox {
	padding-bottom:6em;
}

.home .metro hr {
	margin-top:6em;
	margin-left:2em;
	margin-right:2em;
}
.home .metro ul {
	margin:5px auto auto 5px;
	padding:0 !important;
}
.home .metro ul li {
	display:inline-block;
	padding:0;
	/*margin reset */
	margin:0;
	line-height: 0;
	overflow: hidden;
}
.home .metro ul li ul, .home .metro ul li ul li {
	margin:0;
	padding:0;
}
/*.home .metro ul li:nth-child(odd) {
	margin-right:2px;
}*/
.home .metro ul li:before {
	content:none;
	list-style: none;
}
.home .metro ul li a {
	border-bottom:none;
	display:block;
	width:100%;
	height: 100%;
}
.home .metro ul li a .label {
	display:block;
	width:100%;
	height:488px;
	padding-top:40px;
	position:absolute;
	top:412px;
	background-color:rgba(245,245,245,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.home .metro ul li a .label h3 {
	margin-top:-.5em;
	margin-bottom: 0;
	margin-left:.5em;
	margin-right:.5em;
	padding-top:0;
	padding-bottom:.5em;
	font-family: Palatino, "Palatino Linotype", Baskerville, "Century Schoolbook L", "Times New Roman", serif;
	font-style: italic;
	font-size: 2.4em;
	border-bottom:1px solid #d7dadb;
}
.home .metro ul li a .label:hover h3 {
	color:#464e54;
} 
.home .metro ul li a .label .descripto {
	font-size: 1.2em;
	line-height: 1.6em;
	padding:0em 1em .5em 1em;
	margin-top:0;
	color:#464e54;
}
.home .metro ul li a:hover {
	background-color:transparent;
}
.home .metro ul li a:hover .label {
	top:155px;
	background-color:#f5f5f5;
}
.home .metro .metroTitle {
	background-color:#464e54;	
}
.home .metro ul .metroTitle .label h2 {
	line-height: 1.2em;
	color:#f5f5f5;
	font-size: 300%;
	margin-top:155px;
	margin-left:25%;
	background-color:transparent;
	border-top:none;
}
.home .metro .metroTitle .label:hover {
	background:none !important;
	top:155px;
}
.home .metro .metroTitle a:hover {
	background-color: transparent !important;
}
.home .metro .metroTitle, .home .metro .web, .home .metro .email, .home .metro .printed, .home .metro .presentations, .home .metro .photo {
	width:49.5%;
	height: 488px;
	background-repeat: no-repeat;
}
.home .metro .web {
	background-image: url("http://placehold.it/488");
}
.home .metro .email {
	background-image: url("http://placehold.it/488");
}
.home .metro .printed {
	background-image: url("/wp-content/uploads/2014/03/printed.jpg");
}
.home .metro .presentations {
	background-image: url("/wp-content/uploads/2014/06/presentation.jpg");
}
.home .metro .photo {
	background-image: url("http://placehold.it/488");
}
.home .related {
	margin-top:-2em;
}
@media (max-width: 480px) { 
	.home .sky h1 {
		font-size: 280%;
	}
	.home .lead {
		font-size: 120%;
	}
	.home .metro .metroTitle, .home .metro .web, .home .metro .email, .home .metro .printed, .home .metro .presentations, .home .metro .photo {
		width:100%;
		height: 388px;
		background-repeat: no-repeat;
	}
	.home .metro ul li a .label {
		top:120px;
		font-size: 85%;
	}
	.home .metro .metroTitle {
		height:140px;
		top:0;
		font-size: 80%;
	}
	.home .metro .metroTitle h2 {
		margin-top:0 !important;
		margin-left:4% !important; 
		padding-left:0;
	}
}
/* Photos and Videos */
.page-id-354 .photography {
 	height:28em;
 	width:100%;
 	background-image: url("/wp-content/themes/ucomm/assets/images/pages/campusview.jpg");
 	background-size: 100% auto;
 	background-position:0% 25%;
 	background-repeat: no-repeat;
 	margin-bottom:3em;
 	margin-top:3em;
 }